body {
  width: 40rem;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  color: #222;
}
table {
  width: 100%;
}
.pure-table {
  /*border: 0;*/
  border-right: 0;
  border-left: 0;
}
tr {
  height: 3.2em;
}
tr.divider {
  height: 100%;
  background-color: #f2f2f2;
}
tr.divider:target td{
  padding-top: calc(6rem + 0.3em);
}
tr.divider td {
  border-bottom: 0;
  padding-bottom: 0.2em;
  padding-top: 0.2em;
}
tr:hover {
  /*background-color: white;*/
}
nav {
  /*background-color: red;*/
}
main {
  /*background-color: yellow;*/
  margin-top: 6rem;
}
header {
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 6rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
ol {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  padding-left: 0;
  max-width: 50rem;
  /*background-color: green;*/
  margin-left: auto;
  margin-right: auto;
  font-size: 1.2em;
  margin-top: 0;
  margin-bottom: 0;
}
#search_and_new {
  display: flex;
  /*background-color: green;*/
  max-width: 50rem;
  width: 100%;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
}
a, a:visited, a:hover, a:active {
    color: #0078e7;
    text-decoration: none;
  }
